<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<title>掌动社区</title>
<link href=/static/css/app.2f0d42df71cf68e5cbe16639de17ff46.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/Front/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/Front/static/js/vendor.de0f0fbf21af73ec14f3.js></script>
<script type=text/javascript src=/Front/static/js/app.2ac277574c4bb2088f3c.js></script>
</body>
</html>