<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>论坛管理</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
		
		<link rel="stylesheet" href="__PUBLIC__/laydate/theme/default/laydate.css">
		<script type="text/javascript" src="__PUBLIC__/laydate/laydate.js"></script>
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label" style="padding: 9px 5px;">订单日期：</label>
					<div class="layui-input-block" style="float:left;margin:0;">
						<div class="layui-inline" style="width:100px;">
							<input type="text" class="layui-input" id="start_time">
						</div>
						<div class="layui-inline"><i>至</i></div>
						<div class="layui-inline" style="width:100px;">
							<input type="text" class="layui-input" id="start_time">
						</div>
					</div>

				    <label class="layui-form-label" style="padding: 9px 5px;">订单状态：</label>
				    <div class="layui-input-block" style="float:left;margin-left:0;">
				   		<select name="city" lay-verify="required">
				        <option value=""></option>
				        <option value="0">北京</option>
				        <option value="1">上海</option>
				        <option value="2">广州</option>
				        <option value="3">深圳</option>
				        <option value="4">杭州</option>
				      	</select>
				    </div>
    
				    <label class="layui-form-label" style="padding: 9px 5px;">订单编号：</label>
				    <div class="layui-input-block" style="float:left;margin-left:0;margin-right: 15px;">
						<input type="text" name="title" required  lay-verify="required" placeholder="请输入关键字" autocomplete="off" class="layui-input">
					</div>
					
					<div class="layui-input-block" style="float:left;margin-left:15px;">
				 		<button class="layui-btn" lay-submit lay-filter="formDemo">
				 			<i class="layui-icon">&#xe615;</i> 搜索
				 		</button>
				    </div>
				</div>
			</form>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>菜单列表</legend>
				<div class="layui-field-box">
				<table class="layui-table">
					  <thead>
					    <tr>
					      <th>#</th>
					      <th>菜单名称</th>
					      <th>控制器名称</th>
					      <th>方法名称</th>
					      <th>菜单级别</th>
					      <th>管理</th>
					    </tr> 
					  </thead>
					  <tbody>
						<foreach name="menu" key="k" item="vo">
						    <tr>
						      <php>$opt = explode('/',$vo['menu_name']);</php>
						      <td>{$k+1}</td>
						      <td><?php echo str_repeat("——",$vo["level"]);?>{$vo.title}</td>
						      <td>{$opt[0]}</td>
						      <td>{$opt[1]}</td>
						      <td>
						      <if condition="!$vo['pid']">一级菜单
						      <else/>二级菜单
						      </if>
						      </td>
						      <td>
						      	<a data="{$vo.id}" class="layui-btn layui-btn-mini add"><i class="layui-icon">&#xe608;</i>添加子菜单</a>
								<a data="{$vo.id}" class="layui-btn layui-btn-mini layui-btn-normal edit"><i class="layui-icon">&#xe642;</i>编辑</a>
								<a  data="{$vo.id}" class="layui-btn layui-btn-danger layui-btn-mini del"><i class="layui-icon">&#xe640;</i>删除</a>
								<if condition="$vo['pid']">
									<a  data="{$vo.id}" class="layui-btn  layui-btn-warm layui-btn-mini see"><i class="layui-icon">&#xe615;</i>查看操作</a>
								</if>
						      </td>
						    </tr>
						</foreach>
					  </tbody>
				</table>
			
				</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				{$page}
				</div>
			</div>
		</div>
<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
<script>
laydate.render({
	elem: '#start_time',type: 'date'
}); 
laydate.render({
	elem: '#end_time',type: 'date'
});

	

layui.use('form', function(){
	var form = layui.form();
  
  	//监听提交
  	form.on('submit(formDemo)', function(data){
    	layer.msg(JSON.stringify(data.field));
    	return false;
  	});
});
		
layui.use(['laypage','layer','form'], function() {
	var laypage = layui.laypage,
	$ = layui.jquery

	//请求表单
	$('.add').click(function(){
		var id = $(this).attr('data');
		var url = "{:U('Menu/addMenu')}";
		$.get(url,{id:id},function(data){
			if(data.status == 'error'){
				layer.msg(data.msg,{icon: 5});
				return;
			}
				
			layer.open({
		  		title:'添加菜单',
		  		type: 1,
		  		skin: 'layui-layer-rim', //加上边框
		  		area: ['500px'], //宽高
		  		content: data,
			});
		})
	});
		
	//编辑菜单
	$('.edit').click(function(){
		var id = $(this).attr('data');
		var url = "{:U('Menu/editMenu')}";
		
		$.get(url,{id:id},function(data){
			if(data.status == 'error'){
				layer.msg(data.msg,{icon: 5});
				return;
			}
			
			layer.open({
				title:'编辑菜单',
				type: 1,
				skin: 'layui-layer-rim', //加上边框
				area: ['500px'], //宽高
				content: data,
			});
		})
	});
		
	//查看opt
	$('.see').click(function(){
		var id = $(this).attr('data');
		var url = "{:U('Menu/viewOpt')}";
		$.get(url,{id:id},function(data){
			if(data.status == 'error'){
				layer.msg(data.msg,{icon: 5});
				return;
			}
			layer.open({
				title:'查看三级菜单',
				type: 1,
				skin: 'layui-layer-rim', //加上边框
				area: ['1200px','500px'], //宽高
				content: data,
			});
		})
	});
		
	//删除
	$('.del').click(function(){
		var id = $(this).attr('data');
		var url = "{:U('Menu/deleteMenu')}";
		layer.confirm('确定删除吗?', {
			icon: 3,
			skin: 'layer-ext-moon',
			btn: ['确认','取消'] //按钮
		}, function(){
			$.post(url,{id:id},function(data){
				if(data.status == 'error'){
					layer.msg(data.msg,{icon: 5});//失败的表情
					return;
				}else{
					layer.msg(data.msg, {
						icon: 6,//成功的表情
						time: 2000 //2秒关闭（如果不配置，默认是3秒）
					}, function(){
						location.reload();
					}); 
				}	
			})
		});
	})
				
});
</script>
	</body>

</html>